@import "grids.less";

.tier {
  padding:10px 0;
  border-bottom:1px solid #999;
}

* { margin-top:0; }
html, body {
  background-color:#eee;
  color:#333;
  font-size:13px;
}
a {
  color:#666;
  text-decoration:none;
  &:hover {
    text-decoration:underline;
  }
}
h1,h2,h3,h4,h5,h6,header {
  font-weight:normal;
  margin-bottom:1em;
}

#doc {
  .grid_container;
  .grid_fix;
  background-color:#fff;
  border:10px solid #fff;
  border-radius:10px;
  margin-bottom:10px;
  margin-top:10px;
}
#pageGlobal {
  .grid_12;
  .grid_fix;
  .tier;
  #pageGlobalNavigation {
    .grid_6;
    .grid_alpha;
    nav {
      ul {
        .grid_fix;
        margin:0;
        padding:0;
        li {
          float:left;
          margin-right:1em;
          a {}
        }
      }
    }
  }
  #pageGlobalSearch {
    .grid_6;
    .grid_omega;
  }
}
#pageHeader {
  .grid_12;
  .tier;
  margin-bottom:0;
}
#pageNavigation {
  .grid_12;
  .tier;
  nav {
    ul.menu {
      .grid_fix;
      margin:0;
      padding:0;
      position:relative;
      li {
        display:inline-block;
        float:left;
        list-style:none;
        margin-right:1em;
        position:relative;
        a {
          font-size:14px;
          &:hover { color:#999; }
          &.active, &.active-trail { color:#000; }
        }
        ul.menu {
          background-color:#f0f0f0;
          border:1px solid #999;
          border-top-style:none;
          border-bottom-right-radius:5px;
          border-bottom-left-radius:5px;
          left:-6px;
          margin:3px 0 0;
          opacity:0;
          padding:0 5px;
          position:absolute;
          top:100%;
          width:100%;
          z-index:10;
          -webkit-transition-duration:0.5s;
          li {
            display:block;
            float:none;
            margin-right:0;
            a {
              display:block;
              font-size:0.9em;
              padding:5px 0;
            }
          }
        }
        &:hover {
          ul {
            opacity:1;
          }
        } // #pageNavigation nav ul.menu li:hover
      } // #pageNavigation nav ul.menu li 
    } // #pageNavigation nav ul.menu
  } // #pageNavigation nav
} // #pageNavigation
#highlighted {
  .grid_12;
  .tier;
}
#breadcrumb {
  .grid_12;
  font-size:11px;
  padding-top:10px;
}
#pageBody {
  .grid_12;
  .tier;
  .rail {
    .grid_3;
  }
  #railLeft { .grid_alpha; }
  #railRight { .grid_omega; }
  #contentMain {}
}
  .l1 #contentMain {
    .grid_12;
    .grid_alpha;
    .grid_omega;
  }
  .l2 #contentMain {
    .grid_9;
    .grid_omega;
  }
  .l3 #contentMain {
    .grid_9;
    .grid_alpha;
  }
  .l4 #contentMain { .grid_6; }
#featured {
  .grid_12;
  .tier;
}
#triptych {
  .grid_12;
  .tier;
  .triptych {
    .grid_4;
  }
  #triptych1 { .grid_alpha; }
  #triptych2 {}
  #triptych3 { .grid_omega; }
}
#pageFooter {
  #pageFooterColumns {
    .grid_12;
    .tier;
    .pageFooterColumn {
      .grid_3;
    }
    #pageFooterColumn1 { .grid_alpha; }
    #pageFooterColumn2 {}
    #pageFooterColumn3 {}
    #pageFooterColumn4 { .grid_omega; }
  }
  #pageFooterContent {
    .grid_12;
    padding:10px 0;
  }
}

/**
 * Blocks and faux-blocks from Panels.
 */
aside.block, nav.block, div.region div.panel-pane {
  background-color:rgba(255, 255, 255, 0.5);
  border:1px solid rgba(255, 255, 255, 0.75);
  border-radius:5px;
  margin:10px;
  padding:10px;
  header, div.panel-header {
    font-weight:bold;
    margin-bottom:1em;
  }
}

/**
 * Regions
 */
div.region {
  background-color:rgba(0, 0, 0, 0.1);
  border:1px solid rgba(0, 0, 0, 0.25);
  border-radius:12px;
  padding:1px 0;
  position:relative;
  /**
   * a.context-block-region is added to regions by the context module while
   * a user is logged in. 
   */
  a.context-block-region {
    background-color:#999;
    bottom:100%;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    color:#fff;
    display:none;
    font-size:10px;
    padding:3px 10px;
    position:absolute;
    text-decoration:none;
    right:-1px;
  }
}
body.logged-in {
  div.region:not(.panel-region) {
    &:hover {
      border-top-right-radius:0;
      a.context-block-region {
        display:block;
      }
    }
  }
}

/**
 * Appearance
 */
div.file-video {}

/**
 * Panels
 */
body.node-type-panel {
  #panelHelp { 
    .grid_12;
    margin-bottom:10px;
  }
  div.tabs-main {
    .grid_12;
    padding-top:10px;
  }
}
#contentMain div.panel-pane {
  div.panel-header {
    font-size:26px;
    margin-bottom:1em;
  }
}
// HOMEPAGE
#homepage {
  .grid_12;
  .grid_fix;
  padding-top:10px;
  div.panel-pane {
    background-color:rgba(0, 0, 0, 0.1);
    border:1px solid rgba(0, 0, 0, 0.25);
    border-radius:10px;
    margin-bottom:10px;
    padding:10px;
    div.panel-header {
      font-size:18px;
      margin-bottom:1em;
    }
  }
}
  #homepageTop {
    .grid_12;
    .grid_alpha;
    .grid_omega;
  }
  #homepageBottom {
    .grid_12;
    .grid_alpha;
    .grid_omega;
    .grid_fix;
    div.homepageBottom { .grid_4; }
    #homepageBottom1 { .grid_alpha;}
    #homepageBottom2 {}
    #homepageBottom3 { .grid_omega;}
  }