/**
 *  Save this as GRIDS.LESS
 */
/* container unit */
.grid_container {
  margin: 0 auto;
  width: 960px;
}
/* grid units */
.grid_1 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
}
.grid_2 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
}
.grid_3 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
.grid_4 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}
.grid_5 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
}
.grid_6 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
.grid_7 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 540px;
}
.grid_8 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 620px;
}
.grid_9 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
}
.grid_10 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 780px;
}
.grid_11 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 860px;
}
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}
/* pull units */
.grid_pull_1 {
  position: relative;
  margin-left: -80px;
  margin-right: 20px;
}
.grid_pull_2 {
  position: relative;
  margin-left: -160px;
  margin-right: 20px;
}
.grid_pull_3 {
  position: relative;
  margin-left: -240px;
  margin-right: 20px;
}
.grid_pull_4 {
  position: relative;
  margin-left: -320px;
  margin-right: 20px;
}
.grid_pull_5 {
  position: relative;
  margin-left: -400px;
  margin-right: 20px;
}
.grid_pull_6 {
  position: relative;
  margin-left: -480px;
  margin-right: 20px;
}
.grid_pull_7 {
  position: relative;
  margin-left: -560px;
  margin-right: 20px;
}
.grid_pull_8 {
  position: relative;
  margin-left: -640px;
  margin-right: 20px;
}
.grid_pull_9 {
  position: relative;
  margin-left: -720px;
  margin-right: 20px;
}
.grid_pull_10 {
  position: relative;
  margin-left: -800px;
  margin-right: 20px;
}
.grid_pull_11 {
  position: relative;
  margin-left: -880px;
  margin-right: 20px;
}
.grid_pull_12 {
  position: relative;
  margin-left: -960px;
  margin-right: 20px;
}
/* push units */
.grid_push_1 {
  position: relative;
  left: 70px;
}
.grid_push_2 {
  position: relative;
  left: 150px;
}
.grid_push_3 {
  position: relative;
  left: 230px;
}
.grid_push_4 {
  position: relative;
  left: 310px;
}
.grid_push_5 {
  position: relative;
  left: 390px;
}
.grid_push_6 {
  position: relative;
  left: 470px;
}
.grid_push_7 {
  position: relative;
  left: 550px;
}
.grid_push_8 {
  position: relative;
  left: 630px;
}
.grid_push_9 {
  position: relative;
  left: 710px;
}
.grid_push_10 {
  position: relative;
  left: 790px;
}
.grid_push_11 {
  position: relative;
  left: 870px;
}
.grid_push_12 {
  position: relative;
  left: 950px;
}
/* prefix units */
.grid_prefix_1 {
  padding-left: 80px !important;
}
.grid_prefix_2 {
  padding-left: 160px !important;
}
.grid_prefix_3 {
  padding-left: 240px !important;
}
.grid_prefix_4 {
  padding-left: 320px !important;
}
.grid_prefix_5 {
  padding-left: 400px !important;
}
.grid_prefix_6 {
  padding-left: 480px !important;
}
.grid_prefix_7 {
  padding-left: 560px !important;
}
.grid_prefix_8 {
  padding-left: 640px !important;
}
.grid_prefix_9 {
  padding-left: 720px !important;
}
.grid_prefix_10 {
  padding-left: 800px !important;
}
.grid_prefix_11 {
  padding-left: 880px !important;
}
/* suffix units */
.grid_suffix_1 {
  padding-right: 80px !important;
}
.grid_suffix_2 {
  padding-right: 160px !important;
}
.grid_suffix_3 {
  padding-right: 240px !important;
}
.grid_suffix_4 {
  padding-right: 320px !important;
}
.grid_suffix_5 {
  padding-right: 400px !important;
}
.grid_suffix_6 {
  padding-right: 480px !important;
}
.grid_suffix_7 {
  padding-right: 560px !important;
}
.grid_suffix_8 {
  padding-right: 640px !important;
}
.grid_suffix_9 {
  padding-right: 720px !important;
}
.grid_suffix_10 {
  padding-right: 800px !important;
}
.grid_suffix_11 {
  padding-right: 880px !important;
}
/* utility classes */
.grid_fix {
  zoom: 1;
}
.grid_fix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.grid_clear {
  clear: both;
}
.grid_double_right {
  margin-right: 20px;
}
.grid_alpha {
  margin-left: 0;
}
.grid_omega {
  margin-right: 0;
}
.tier {
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#doc {
  margin: 0 auto;
  width: 960px;
  zoom: 1;
  background-color: #eee;
}
#doc:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#pageGlobal {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  zoom: 1;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#pageGlobal:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#pageGlobal #pageGlobalNavigation {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
  margin-left: 0;
  background-color: #ddd;
}
#pageGlobal #pageGlobalSearch {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
  margin-right: 0;
  background-color: #ddd;
}
#pageHeader {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#pageNavigation {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#highlighted {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#pageBody {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#pageBody .rail {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  background-color: #ddd;
}
#pageBody #railLeft {
  margin-left: 0;
}
#pageBody #railRight {
  margin-right: 0;
}
#pageBody #contentMain {
  background-color: #ddd;
}
.l1 #contentMain {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  margin-left: 0;
  margin-right: 0;
}
.l2 #contentMain {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
  margin-right: 0;
}
.l3 #contentMain {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
  margin-left: 0;
}
.l4 #contentMain {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
#featured {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#triptych {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#triptych .triptych {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  background-color: #ddd;
}
#triptych #triptych1 {
  margin-left: 0;
}
#triptych #triptych3 {
  margin-right: 0;
}
#pageFooter #pageFooterColumns {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#pageFooter #pageFooterColumns .pageFooterColumn {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  background-color: #ddd;
}
#pageFooter #pageFooterColumns #pageFooterColumn1 {
  margin-left: 0;
}
#pageFooter #pageFooterColumns #pageFooterColumn4 {
  margin-right: 0;
}
#pageFooter #pageFooterContent {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
}
