/**
 *  Save this as GRIDS.LESS
 */
/* container unit */
.grid_container {
  margin: 0 auto;
  width: 960px;
}
/* grid units */
.grid_1 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
}
.grid_2 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
}
.grid_3 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
.grid_4 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}
.grid_5 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
}
.grid_6 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
.grid_7 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 540px;
}
.grid_8 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 620px;
}
.grid_9 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
}
.grid_10 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 780px;
}
.grid_11 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 860px;
}
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}
/* pull units */
.grid_pull_1 {
  position: relative;
  margin-left: -80px;
  margin-right: 20px;
}
.grid_pull_2 {
  position: relative;
  margin-left: -160px;
  margin-right: 20px;
}
.grid_pull_3 {
  position: relative;
  margin-left: -240px;
  margin-right: 20px;
}
.grid_pull_4 {
  position: relative;
  margin-left: -320px;
  margin-right: 20px;
}
.grid_pull_5 {
  position: relative;
  margin-left: -400px;
  margin-right: 20px;
}
.grid_pull_6 {
  position: relative;
  margin-left: -480px;
  margin-right: 20px;
}
.grid_pull_7 {
  position: relative;
  margin-left: -560px;
  margin-right: 20px;
}
.grid_pull_8 {
  position: relative;
  margin-left: -640px;
  margin-right: 20px;
}
.grid_pull_9 {
  position: relative;
  margin-left: -720px;
  margin-right: 20px;
}
.grid_pull_10 {
  position: relative;
  margin-left: -800px;
  margin-right: 20px;
}
.grid_pull_11 {
  position: relative;
  margin-left: -880px;
  margin-right: 20px;
}
.grid_pull_12 {
  position: relative;
  margin-left: -960px;
  margin-right: 20px;
}
/* push units */
.grid_push_1 {
  position: relative;
  left: 70px;
}
.grid_push_2 {
  position: relative;
  left: 150px;
}
.grid_push_3 {
  position: relative;
  left: 230px;
}
.grid_push_4 {
  position: relative;
  left: 310px;
}
.grid_push_5 {
  position: relative;
  left: 390px;
}
.grid_push_6 {
  position: relative;
  left: 470px;
}
.grid_push_7 {
  position: relative;
  left: 550px;
}
.grid_push_8 {
  position: relative;
  left: 630px;
}
.grid_push_9 {
  position: relative;
  left: 710px;
}
.grid_push_10 {
  position: relative;
  left: 790px;
}
.grid_push_11 {
  position: relative;
  left: 870px;
}
.grid_push_12 {
  position: relative;
  left: 950px;
}
/* prefix units */
.grid_prefix_1 {
  padding-left: 80px !important;
}
.grid_prefix_2 {
  padding-left: 160px !important;
}
.grid_prefix_3 {
  padding-left: 240px !important;
}
.grid_prefix_4 {
  padding-left: 320px !important;
}
.grid_prefix_5 {
  padding-left: 400px !important;
}
.grid_prefix_6 {
  padding-left: 480px !important;
}
.grid_prefix_7 {
  padding-left: 560px !important;
}
.grid_prefix_8 {
  padding-left: 640px !important;
}
.grid_prefix_9 {
  padding-left: 720px !important;
}
.grid_prefix_10 {
  padding-left: 800px !important;
}
.grid_prefix_11 {
  padding-left: 880px !important;
}
/* suffix units */
.grid_suffix_1 {
  padding-right: 80px !important;
}
.grid_suffix_2 {
  padding-right: 160px !important;
}
.grid_suffix_3 {
  padding-right: 240px !important;
}
.grid_suffix_4 {
  padding-right: 320px !important;
}
.grid_suffix_5 {
  padding-right: 400px !important;
}
.grid_suffix_6 {
  padding-right: 480px !important;
}
.grid_suffix_7 {
  padding-right: 560px !important;
}
.grid_suffix_8 {
  padding-right: 640px !important;
}
.grid_suffix_9 {
  padding-right: 720px !important;
}
.grid_suffix_10 {
  padding-right: 800px !important;
}
.grid_suffix_11 {
  padding-right: 880px !important;
}
/* utility classes */
.grid_fix {
  zoom: 1;
}
.grid_fix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.grid_clear {
  clear: both;
}
.grid_double_right {
  margin-right: 20px;
}
.grid_alpha {
  margin-left: 0;
}
.grid_omega {
  margin-right: 0;
}
.tier {
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
* {
  margin-top: 0;
}
html, body {
  background-color: #eee;
  color: #333;
  font-size: 13px;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-weight: normal;
  margin-bottom: 1em;
}
#doc {
  margin: 0 auto;
  width: 960px;
  zoom: 1;
  background-color: #fff;
  border: 10px solid #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#doc:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#pageGlobal {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  zoom: 1;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#pageGlobal:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#pageGlobal #pageGlobalNavigation {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
  margin-left: 0;
}
#pageGlobal #pageGlobalNavigation nav ul {
  zoom: 1;
  margin: 0;
  padding: 0;
}
#pageGlobal #pageGlobalNavigation nav ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#pageGlobal #pageGlobalNavigation nav ul li {
  float: left;
  margin-right: 1em;
}
#pageGlobal #pageGlobalSearch {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
  margin-right: 0;
}
#pageHeader {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  margin-bottom: 0;
}
#pageNavigation {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#pageNavigation nav ul {
  zoom: 1;
  margin: 0;
  padding: 0;
}
#pageNavigation nav ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#pageNavigation nav ul li {
  float: left;
  list-style: none;
  margin-right: 1em;
}
#pageNavigation nav ul li a {
  font-size: 14px;
}
#pageNavigation nav ul li a:hover {
  color: #999;
}
#pageNavigation nav ul li a.active, #pageNavigation nav ul li a.active-trail {
  color: #000;
}
#highlighted {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#breadcrumb {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  font-size: 11px;
  padding-top: 10px;
}
#pageBody {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#pageBody .rail {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
#pageBody #railLeft {
  margin-left: 0;
}
#pageBody #railRight {
  margin-right: 0;
}
.l1 #contentMain {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  margin-left: 0;
  margin-right: 0;
}
.l2 #contentMain {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
  margin-right: 0;
}
.l3 #contentMain {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
  margin-left: 0;
}
.l4 #contentMain {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
#featured {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#triptych {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#triptych .triptych {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}
#triptych #triptych1 {
  margin-left: 0;
}
#triptych #triptych3 {
  margin-right: 0;
}
#pageFooter #pageFooterColumns {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
#pageFooter #pageFooterColumns .pageFooterColumn {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
#pageFooter #pageFooterColumns #pageFooterColumn1 {
  margin-left: 0;
}
#pageFooter #pageFooterColumns #pageFooterColumn4 {
  margin-right: 0;
}
#pageFooter #pageFooterContent {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  padding: 10px 0;
}
/**
 * Blocks
 */
aside.block, nav.block {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
aside.block header, nav.block header {
  font-weight: bold;
  margin-bottom: 1em;
}
/**
 * Regions
 */
div.region {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 1px 0;
  position: relative;
  /**
   * a.context-block-region is added to regions by the context module while
   * a user is logged in. 
   */

}
div.region a.context-block-region {
  background-color: #999;
  bottom: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  display: none;
  font-size: 10px;
  padding: 3px 10px;
  position: absolute;
  text-decoration: none;
  right: -1px;
}
body.logged-in div.region:hover {
  border-top-right-radius: 0;
}
body.logged-in div.region:hover a.context-block-region {
  display: block;
}
/**
 * Appearance
 */
/**
 * Panels
 */
body.node-type-panel #panelHelp {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  margin-bottom: 10px;
}
body.node-type-panel div.tabs-main {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}
#homepageTop {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}
#homepageBottom {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  zoom: 1;
}
#homepageBottom:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#homepageBottom div.homepageBottom {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}
#homepageBottom #homepageBottom1 {
  margin-left: 0;
}
#homepageBottom #homepageBottom3 {
  margin-right: 0;
}
